hw2/.vscode/settings.json
hw2/setops_test.exe
hw2/setops.o
hw1/.vscode/launch.json
hw2/.vscode/launch.json
hw1-test-suite-setup.md
hw1-test-suite-setup.md
.vscode/settings.json
.vscode/c_cpp_properties.json
hw1-test-suite-setup.md
hw3/user.exe
hw3/Tests.exe
hw1-test-suite-setup.md
hw3/Jill.feed
hw3/Mark.feed
hw3/Sam.feed
hw3/Tommy.feed
hw3/twitter.exe
